body {
    background-color: lightgreen;
}

.table {
    width: 100%;
    height: 100vh;
    background-color: lightgreen;
}

.top-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
}